KrispyKreme/Connected Services/KrispyService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ValidaCupon">
    <xs:sequence>
      <xs:element minOccurs="0" name="MensajeValidacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidaCuponID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidaCupon" nillable="true" type="tns:ValidaCupon" />
</xs:schema>